<div class="card p-5 m-5 card-dark">
    <input class="input-dark p-5" placeholder="This is text" required>
    {{!-- <input class="input-dark" type="number"> --}}
</div>

<div class="card p-5 m-5 card-dark">
    <img alt="image small card 100px" class="small-img" src="https://picsum.photos/200/300" height="100px" />

    <a href="https://picsum.photos/200/300" rel="external">Link</a>
    <br>
    <button class="btn">Click me</button>
    <br>
    {{!-- <a class="btn btn-seconary" href="https://picsum.photos/200/300">Click me</a> --}}

    <a class="btn btn-seconary fhfgghj big" href="https://picsum.photos/200/300">Click me</a>
</div>

{{!-- <div class="card p-5 m-5 card-dark img">
    <img alt="image small card 100px" class="small-img" src="https://picsum.photos/200/300" height="100px" />
</div> --}}
<div class="card p-5 m-5 card-dark">
    <p class="big-text">This is text about info big test infoThis is text about info big test info
        <br>
        This is text about
        info big test infoThis is text about info big test info
    </p>
</div>