{{!-- <div class="card p-5 m-5 card-dark">
    <ul>
        <li class="item item-first">1</li>
        <div class="item">Test</div>
        <li class="item">2</li>
        <li class="item">3</li>
        <li class="item">4</li>
    </ul>
</div> --}}

{{!-- <div class="card p-5 m-5 card-dark">
    <div class="item">First</div>
    <p class="item">Second</p>
    <article class="item">Last</article>
    <div class="item">First</div>
</div> --}}

{{!-- <div class="card p-5 m-5 card-dark">
    <div class="item">First</div>
    <p class="item">Second</p>
    <p class="item">Second</p>
    <article class="item">Last</article>
    <div class="item">First</div>
    <div class="item">First</div>
    <p class="item">Second</p>
    <article class="item">Last</article>
</div> селектор останнього типу--}}

{{!-- <div class="card p-5 m-5 card-dark">
    <div class="item">First</div>
    <div class="item">First</div>
    <div class="item">First</div>
    <p class="item">Second</p>
    <p class="item">Second</p>
    <strong class="item">Test</strong>
    <article class="item">Last</article>
    <article class="item">Last</article>
    <p class="item">Second</p>
    <article class="item">Last</article>
</div>
Селектор одиничного типу --}}

{{!-- <div class="card p-5 m-5 card-dark">
    <div class="item">First</div>
    <div class="item">First</div>
    <div class="item">First</div>
    <p class="item">Second</p>
    <p class="item">Second</p>
    <strong class="item">Test</strong>
    <article class="item">Last</article>
    <article class="item">Last</article>
    <p class="item">Second</p>
    <article class="item">Last</article>
</div> --}}
{{!-- Селектор порядкової дитини --}}

{{!-- <div class="card p-5 m-5 card-dark">
    <div class="item">First</div>
    <div class="item">First</div>
    <div class="item">First</div>
    <p class="item">Second</p>
    <p class="item">Second</p>
    <strong class="item">Test</strong>
    <article class="item">Last</article>
    <article class="item">Last</article>
    <p class="item">Second</p>
    <article class="item">Last</article>
</div> --}}
{{!-- Селектор зворотної порядкової дитини --}}

{{!-- <div class="card p-5 m-5 card-dark">
    <div class="item">First</div>
    <div class="item">First</div>
    <div class="item">First</div>
    <p class="item">Second</p>
    <p class="item">Second</p>
    <strong class="item">Test</strong>
    <article class="item">Last</article>
    <article class="item">Last</article>
    <p class="item">Second</p>
    <article class="item">Last</article>
</div> --}}
{{!-- Селектор порядкового типу --}}

{{!-- <div class="card p-5 m-5 card-dark">
    <div class="item">First</div>
    <div class="item">First</div>
    <div class="item">First</div>
    <p class="item">Second</p>
    <p class="item">Second</p>
    <strong class="item">Test</strong>
    <article class="item">Last</article>
    <article class="item">Last</article>
    <p class="item">Second</p>
    <article class="item">Last</article>
    <article class="item">Last</article>
    <article class="item">Last</article>
    <article class="item">Last</article>
</div> --}}
{{!-- Селектор зворотного порядкового типу --}}

{{!-- <div class="card p-5 m-5 card-dark">
    <div class="item">First</div>
    <div class="item">First</div>
    <div class="item">First</div>
    <p class="item">Second</p>
    <p class="item">Second</p>
    <strong class="item">Test</strong>
    <article class="item">Last</article>
    <article class="item">Last</article>
    <p>NOT</p>
    <article class="item">Last</article>
    <article class="item">Last</article>
    <article class="item">Last</article>
    <article class="item">Last</article>
</div> --}}
{{!-- Селектор невідповідності --}}


<div class="card p-5 m-5 card-dark">
    <div class="item">First</div>
    <div class="item">First</div>
    <div class="item">First</div>
    <p class="item">Second</p>
    <p class="item">Second</p>
    <strong class="item">Test</strong>
    <article class="item">Last</article>
    <article class="item">Last</article>
    <p></p>
    <article class="item">Last</article>
    <article class="item">Last</article>
    <article class="item">Last</article>
    <article class="item">Last</article>
</div>
{{!-- Селектор пустого контенту --}}