<header class="header">
	<a href="#test">
		fffff
	</a>

	<nav class="header_nav">
		<div class="header_nav_right">
			{{>nav list=header}}
		</div>
	</nav>
</header>

<main class="main">

</main>

<footer class="footer">

	<div>
		<span class="footer_copyright">Copyright 2023-2024</span>
	</div>
	{{#each footer.pages}}
	<a href="{{ this.path }}">{{ this.name }}</a>
	{{/each}}

</footer>