.card-dark {
  background: #ededed;
}

.input-dark {
  background: #979797;
}

.input-dark[required] {
  background: #d72b2b;
}

.input-dark[type='number'] {
  background: #2bd734;
}

.small-img[alt~='small'] {
  height: 500px;
}

/* .card[class~='img'] {
  height: 500px;
} */

a[rel~='external'] {
  color: green;
}

button[class|='btn'] {
  background: rgb(145, 140, 140);
}

/* a[class*='btn'] {
  background: rgb(201, 23, 23);
} */

a[class$='big'] {
  background: rgb(159, 23, 201);
}

.btn::first-letter {
  color: red;
}

.big-text::first-line {
  color: red;
}

.input-dark::placeholder {
  color: green;
  background: blue;
}

.big-text::before,
.big-text::after {
  content: '$$$';
  color: rgb(17, 129, 26);
  background: #131212;
}
